# Python
__pycache__/
*.pyc
*.pyo
venv/
*.sqlite3

# Node
node_modules/
.next/
__pycache__/
*.pyc
*.pyo
env/
env
/env
*.sqlite3
downloaded_images

# Environment files
.vscode
.idea
*.lock
*.swp



##/auction/migrations/


## Django
*.pyc
*.pyo
*.pot
*.egg-info
.idea
.tox
.venv


*/env/
env/

## Virtual environment
.env

## Build
*.egg
*.build
*.dist
*.wheel

## Media
media/

## Temp
tmp/


## Documentation
docs/_build/

## Other
.DS_Store
user_*/*
db.sqlite3
